.wrap{
    width: 100%;
}

.flex_wrap{
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_flex{
    width: 30%;
    position: relative;
    margin-left: 10%;
    margin-top: 10.37rem;
}

.freq{
    color: #FFF;
    font-family: Clash Display;
    font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.alt_freq{
    color: #D434FE;
    font-family: Clash Display;
    font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.ans{
    width: 80%;
    color: #FFF;
    font-family: Clash Display;
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
    margin-block: 1rem 4.25rem;
}

.ans > span{
    color: #FFF;
    font-family: Clash Display;
    font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.soln{
    margin-bottom: 1.56rem;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ques{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
}

.right_flex{
    width: 50%;
    position: relative;
    margin-top: 10rem;
}

.q0{
    position: absolute;
    top: -10%;
    left: -10%;
    width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
    height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
}

.q1{
    position: absolute;
    width: clamp(3.125rem, 1.9821rem + 5.7143vw, 7.125rem);
    height: clamp(1.93rem, 1.2129rem + 3.5857vw, 4.44rem);
    top: -12.5%;
    left: 35%;
}

.q2{
    position: absolute;
    transform: scale(0.7);
    width: clamp(3.125rem, 1.9821rem + 5.7143vw, 7.125rem);
    height: clamp(1.93rem, 1.2129rem + 3.5857vw, 4.44rem);
    top: -5%;
    left: 15%;
}

.q3{
    position: absolute;
    transform: scale(0.7);
    width: clamp(3.125rem, 1.9821rem + 5.7143vw, 7.125rem);
    height: clamp(1.93rem, 1.2129rem + 3.5857vw, 4.44rem);
    top: -5%;
    left: 55%;
}

.q4{
    position: absolute;
    width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
    height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
    transform: scale(0.7);
    top: -5%;
    left: 47.5%;
}

.q5{
    position: absolute;
    transform: scale(0.7);
    width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
    height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
    left: 20%;
    top: 17.5%;
}
.q6{
    position: absolute;
    transform: scale(0.8);
    width: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.625rem);
    height: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
    left: 7.5%;
    top: 50%;
}

.q7{
    position: absolute;
    right: 20%;
    bottom: 0;
    width: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.625rem);
    height: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
}

#timeline{
    height: 8.75rem;
}

@media (max-width: 1000px) {
    .flex_wrap{
        width: 95%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left_flex{
        width: 90%;
        position: relative;
        margin-left: 0;
    }

    .right_flex{
        width: fit-content;
        position: relative;
        margin-top: 10rem;
        display: flex;
        margin-inline: auto;
        align-items: center;
        justify-content: center;
    }

    .q0{
        position: absolute;
        top: -5%;
        left: 5%;
        width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
        height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
    }

    .q1{
        position: absolute;
        width: clamp(3.125rem, 1.9821rem + 5.7143vw, 7.125rem);
        height: clamp(1.93rem, 1.2129rem + 3.5857vw, 4.44rem);
        top: -5%;
        left: 35%;
    }
    
    .q2{
        position: absolute;
        width: clamp(3.125rem, 1.9821rem + 5.7143vw, 7.125rem);
        height: clamp(1.93rem, 1.2129rem + 3.5857vw, 4.44rem);
        transform: scale(0.7);
        top: 0%;
        left: 15%;
    }
    
    .q3{
        position: absolute;
        width: clamp(3.125rem, 1.9821rem + 5.7143vw, 7.125rem);
        height: clamp(1.93rem, 1.2129rem + 3.5857vw, 4.44rem);
        transform: scale(0.7);
        top: 0%;
        left: 52.5%;
    }
    
    .q4{
        position: absolute;
        width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
        height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
        transform: scale(0.7);
        top: -5%;
        left: 47.5%;
    }
    
    .q5{
        position: absolute;
        transform: scale(0.7);
        width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
        height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
        left: 20%;
        top: 17.5%;
    }
    .q6{
        position: absolute;
        transform: scale(0.8);
        width: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.625rem);
        height: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
        left: 7.5%;
        top: 50%;
    }
    
    .q7{
        position: absolute;
        right: 20%;
        bottom: 0;
        width: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.625rem);
        height: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
    }

    .freq{
        text-align: center;
        color: #FFF;
        font-family: Clash Display;
        font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
        font-style: normal;
        font-weight: 700;
        line-height: 133%;
    }
    
    .alt_freq{
        text-align: center;
        color: #D434FE;
        font-family: Clash Display;
        font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
        font-style: normal;
        font-weight: 700;
        line-height: 133%;
    }

    .ans{
        text-align: center;
        width: 100%;
        color: #FFF;
        font-family: Clash Display;
        font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
        font-style: normal;
        font-weight: 400;
        line-height: 133%;
        margin-block: 1rem 4.25rem;
    }

    .ques{
        text-align: center;
        color: #FFF;
        font-family: Montserrat;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
    }
    
}