.wrapp{
    width: 100%;
    position: relative;
    margin-bottom: 6.81rem;
}

.timee{
    margin-top: 4.5rem;
    color: #FFF;
    text-align: center;
    font-family: Clash Display;
    font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}

.t_desc{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 172.4%;
    margin-top: 0.75rem;
}
.t_desc2{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 172.4%;
    margin-bottom: 5.69rem;
}

.flex_wrapp{
    width: 95%;
    margin-inline: auto;
    height: clamp(6.75rem, 5.9929rem + 3.7857vw, 9.4rem);
    position: relative;
    margin-bottom: 2rem;
}

.num{
    color: #FFF;
    font-family: Montserrat;
    font-size: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.flex_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.flex_div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.side_left{
    width: 40%;
}

.side_right{
    width: 40%;
}

.label_div{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 0.69rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linee{
    width: clamp(0.125rem, 0.0893rem + 0.1786vw, 0.25rem);
    height: clamp(4.8125rem, 4.6518rem + 0.8036vw, 5.375rem);
    background-color: #D434FE;
    border: none;
}

.circle{
    width: clamp(1.2075rem, 0.6061rem + 3.0071vw, 3.3125rem);
    height: clamp(1.2075rem, 0.6061rem + 3.0071vw, 3.3125rem);
    border-radius: 50%;
    background-color: #D434FE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header1{
    text-align: end;
    color: #D434FE;
    font-family: Montserrat;
    font-size: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desc1{
    text-align: end;
    color: #FFF;
    font-family: Montserrat;
    font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%;
}

.header2{
    color: #D434FE;
    font-family: Montserrat;
    font-size: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desc2{
    color: #FFF;
    font-family: Montserrat;
    font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%;
}

.starr1{
    position: absolute;
    width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
    height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
    top: 12.5%;
    left: 20%;
}

.starr2{
    position: absolute;
    width: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.625rem);
    height: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
    bottom: 0%;
    left: 10%;
}

.starr3{
    position: absolute;
    width: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.625rem);
    height: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
    top: 52.5%;
    right: 10%;
}

@media (max-width: 1000px) {
    .flex_div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 7.5%;
        height: 100%;
    }

    .flex_div2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 7.5%;
        height: 100%;
    }

    .side_left{
        width: 100%;
    }
    
    .side_right{
        width: 100%;
    }

    .label_div{
        position: absolute;
        bottom: 0;
        left: 0;
        gap: 0.69rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header1{
        text-align: start;
        color: #D434FE;
        font-family: Montserrat;
        font-size: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .desc1{
        text-align: start;
        color: #FFF;
        font-family: Montserrat;
        font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
        font-style: normal;
        font-weight: 400;
        line-height: 170.9%;
    }

    .starr2{
        position: absolute;
        width: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.625rem);
        height: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
        bottom: -5%;
        left: 10%;
    }
}