::-webkit-scrollbar {
    width: 0;
    display: none;
  }

.wrapper{
    width: 100%;
}

.flex_wrapper{
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left{
    position: relative;
    width: 50%;
    margin-top: 3.88rem;
}

.right{
    position: relative;
    width: 40%;
}

.content{
    width: fit-content;
}

.title{
    margin-top: 12.06rem;
    color: #FFF;
    font-family: Clash Display;
    font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
}

.title > span {
    color: #D434FE;
    font-family: Clash Display;
    font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
}

.descriptio{
    color: #FFF;
    font-family: Montserrat;
    font-size: clamp(0.8125rem, 0.7946rem + 0.0893vw, 0.875rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    margin-block: 1rem 9.81rem;
}



.starleft{
    position: absolute;
    top: 35%;
    left: 0;
    width: clamp(0.6875rem, 0.5089rem + 0.8929vw, 1.3125rem);
    height: clamp(0.8125rem, 0.5982rem + 1.0714vw, 1.5625rem);
}

.starright{
    position: absolute;
    top: 35%;
    right: 10%;
    width: clamp(0.5rem, 0.1071rem + 1.9643vw, 1.875rem);
    height: clamp(0.625rem, 0.1607rem + 2.3214vw, 2.25rem);
}

.arrow{
    position: absolute;
    right: 0;
    bottom: 0;
    width: clamp(1.43rem, 0.8043rem + 3.1286vw, 3.62rem);
    height: clamp(1.22rem, 0.6857rem + 2.6714vw, 3.09rem);
}


@media (max-width: 1000px) {
    .flex_wrapper{
        width: 95%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left{
        position: relative;
        width: fit-content;
        margin-inline: auto;
    }
    
    .right{
        position: relative;
        width: 95%;
        margin-inline: auto;
    }

    .arrow{
        position: absolute;
        right: 47.5%;
        bottom: 0;
        width: clamp(1.43rem, 0.8043rem + 3.1286vw, 3.62rem);
        height: clamp(1.22rem, 0.6857rem + 2.6714vw, 3.09rem);
    }

    .title{
        text-align: center;
        margin-top: 12.06rem;
        color: #FFF;
        font-family: Clash Display;
        font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
        font-style: normal;
        font-weight: 700;
        line-height: 0%;
    }

    .descriptio{
        text-align: center;
        color: #FFF;
        font-family: Montserrat;
        font-size: clamp(0.8125rem, 0.7946rem + 0.0893vw, 0.875rem);
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
        margin-block: 1rem 9.81rem;
    }
}